@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/* ========== text variables ========== */
:root {
    --h1: 14px;
    --h1-line-height: 14px;
    --a: 14px;
    --a-line-height: 14px;
    --p: 14px;
    --p-line-height: 14px;
}
/* ========== text styles ========== */
h1{
    font-family: Work Sans;
    font-size: var(--h1);
    line-height: var(--h1-line-height);
}
a{
    font-family: Work Sans;
    font-size: var(--a);
    line-height: var(--a-line-height);
}
a:hover{
    font-weight: 600;
    position: relative;
}
a:hover::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 100%;
    height: 1px;
    background-color: #000; 
    animation: underline 0.3s ease forwards; 
}

@keyframes underline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
p{
    font-family: Work Sans;
    font-size: var(--p);
    line-height: var(--p-line-height);
}
/* ========== nav styling ========== */
nav{
    padding: 20px;
    border-bottom: 1px solid; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* ======== footer styling ======== */
footer{
    border-top: 1px solid;
    padding: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}
.footer-links{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
/* ======== main styling ======== */
main{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
section{
    padding: 20px;
}
section:first-child {
    border-bottom: solid 1px;
}
.image{
    background-color: aqua;
    flex: 1; 
    display: flex;
    justify-content: left; 
    align-items: flex-start; 
    padding-top: 80px;
}
.links{
    background-color: lavender;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
}
.links > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.links > div > button {
    margin-bottom: 40px; 
}
.links > div > button a {
    font-size: 24px; 
    font-family: spectral;
    font-weight: 300;
}
.project-button a em {
    font-style: italic;
}


/* ================================== tablet media query ================================== */
@media (min-width: 768px) and (max-width: 1023px) {
    /* ========== text variables ========== */
    :root {
        --h1: 16px;
        --h1-line-height: 16px;
        --p: 16px;
        --p-line-height: 20px;
        --a: 16px;
        --a-line-height: 16px;
    }
    /* ========== nav styling ========== */
    nav{
        padding: 24px;
    }
    /* ======== footer styling ======== */
    footer{
        padding-left: 24px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    /* ======== main styling ======== */
    section{
        padding: 24px;
    }
    .links{
        display: flex;
        flex-direction: column;
    }
}
  
/* ================================== desktop media query ================================== */
@media (min-width: 1024px) {
    /* ========== text variables ========== */
    :root {
        --h1: 16px;
        --h1-line-height: 16px;
        --p: 16px;
        --p-line-height: 20px;
        --a: 16px;
        --a-line-height: 20px;
    }
    /* =========== nav styling ============ */
    nav{
        padding: 32px;
        padding-top: 26px;
        top: 0;
        left: 0;
        width: 100%;
        height: 7vh;
        align-items: center;
        /* position: fixed; */
    }
    /* ========== footer styling ========== */
    footer{
        padding: 32px;
        padding-top: 26px;
        height: 7vh;
    }
    /* ======== main styling ======== */
    main{
        flex-direction: row;
        height: 100vh;
    }
    section{
        width: 50vw;
        padding: 32px;
    }
    section:first-child {
        border-right: solid 1px;
    }
    .links{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .links > div > button {
        margin-bottom: 48px; 
    }
    .links > div > button a {
        font-size: 40px; 
        font-family: spectral;
        font-weight: 300;
    }
}