@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font-size: 20px;
    --color: darkgray;

    --gutter: calc(var(var(--font-size) * 2));
}

@media (min-width:600px) {
    :root {
        --font-size: 32px;
    }
}

body{
    font-size: var(--font-size);
    padding-top: calc(var(var(--gutter) * 3));
    padding-bottom: calc(var(var(--gutter) * 3));
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    display: flex;
    flex-direction: column;
    row-gap: var(--gutter);
}

h1{
    font-family: Work Sans;
    color: blue;
    font-size: calc(var(--font-size) * 2);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: none;
    padding: 10px;
    gap: 20px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-family: Work Sans;
}

.grid-item:hover{
    background-color: rgb(208, 208, 208);
}

footer{
    font-family: Work Sans;
}