@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ========== text variables ========== */
:root {
    --h1: 14px;
    --h1-line-height: 14px;
    --a: 14px;
    --a-line-height: 14px;
}
/* ========== text styles ========== */
h1{
    font-family: Work Sans;
    font-size: var(--h1);
    line-height: var(--h1-line-height);
}
a{
    font-family: Work Sans;
    font-size: var(--a);
    line-height: var(--a-line-height);
}
/* ========== nav styling ========== */
nav{
    padding: 20px;
    border-bottom: 1px solid;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* ======== footer styling ======== */
footer{
    border-top: 1px solid;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
}
section{
    padding: 20px;
}

/* ================================== tablet media query ================================== */
@media (min-width: 768px) and (max-width: 1023px) {
    /* ========== text variables ========== */
    :root {
        --h1: 16px;
        --h1-line-height: 16px;
        --a: 16px;
        --a-line-height: 16px;
    }
    /* ========== nav styling ========== */
    nav{
        padding: 24px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    /* ======== footer styling ======== */
    footer{
        padding-left: 120px;
        padding-right: 120px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    /* ======== main styling ======== */
    main{
        padding-top: 80px;
    }
    section{
        padding: 24px;
    }
}
  
/* ================================== desktop media query ================================== */
@media (min-width: 1024px) {
    /* ========== text variables ========== */
    :root {
        --h1: 16px;
        --h1-line-height: 16px;
        --a: 16px;
        --a-line-height: 20px;
    }
    /* =========== type styling =========== */
    a:hover{
        font-weight: 600;
        text-decoration: underline;
    }
    /* =========== nav styling ============ */
    nav{
        padding: 32px;
        padding-top: 26px;
        top: 0;
        left: 0;
        width: 100%;
        height: 7vh;
        align-items: center;
        /* position: fixed; */
    }
    /* ========== footer styling ========== */
    footer{
        padding: 32px;
        padding-top: 26px;
        padding-left: 200px;
        padding-right: 200px;
        height: 7vh;
    }
    /* ======== main styling ======== */
    main{
        height: 86vh;
        flex-direction: row;
    }
    section{
        width: 50vw;
        padding: 32px;
    }
}